@media (max-width: 480px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 60px;
        height: 30px;
        font-size: 10px;
        line-height: 30px; 
    }
   
}
@media (max-width:800px) {


    .grilla {
        grid-template-columns:1fr;
        grid-template-rows: 3fr;
        grid-template-areas:
            "encabezado"
            "banner"
            "main"
            "footer";
    }
}

// mediaqueries.scss

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .texto {
        padding: 10px;
        text-align: center;
    }

    .textoFooter .col-4 {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .textoFooter .icon {
        width: 50px;
    }

    .carousel-inner img {
        width: 100%;
        height: auto;
    }

    .button {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .texto {
        padding: 10px;
        text-align: center;
    }

    .textoFooter .col-4 {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .textoFooter .icon {
        width: 40px;
    }

    .carousel-inner img {
        width: 100%;
        height: auto;
    }

    .button {
        width: 100%;
        font-size: 12px;
    }
}
