@media (max-width: 480px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 60px;
        height: 30px;
        font-size: 10px;
        line-height: 30px; 
    }
   
}
@media (max-width:800px) {


    .grilla {
        grid-template-columns:1fr;
        grid-template-rows: 3fr;
        grid-template-areas:
            "encabezado"
            "banner"
            "main"
            "footer";
    }
}
