/* NOSOTROS*/
.textoNosotros{
    text-align: center;
    font-size: map-get($tamaños-texto, bajada-texto );
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 70px;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-fondo-texto;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    .card{
        width: 512px;
        height: 550px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden; 
        display: flex;
        justify-content: center;
        align-items: center;
        .card-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    }
}
.TextoMision, .TextoVision {
    margin-left: 30px; 
}

.BajadaMision, .BajadaVision {
    margin-left: 15px;
}
.IMGbajdadaNosotros img{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 120px;
}