/* SERVICIOS*/
.bannerServicios img{
    width: 100%;
    height: auto;
}
.textoServicios{
    text-align: center;
    background-color: #ad6def;;
    font-style: italic;
    margin-top: 20px;
    color: #ffffff
}
.contenedorSelectorServicio {
    margin-bottom: 20px;
    display: flex;

    #selectorServicio {
        margin-top: 20px;
        margin-left: 217px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; 
        padding: 10px 1px 10px 10px;
        font-size: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        background-image: url(../multimedia/cursor.png);
        background-repeat: no-repeat;
        background-position: right 10px top 50%;
        background-size: 12px 12px;
        width: 140px;

        &::-ms-expand {
            display: none; 
        }
    }
}
/* contenido servicios */
.container {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding-bottom: 140px;

    .image-box {
        width: 150px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }
    .action-button {
        width: 100px;
        height: 30px;
        background-color: #730fc3;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 10px;
        margin-top: 10px;

        &:hover {
            background-color: #ad6def;
        }
    }
}